<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/public/assets/book.png">
    <title>Afraz NoteBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" media="screen" href="/public/assets/main.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    
    <script src="/public/assets/main.js"></script>
    
</head>
<body style="background-color:cornsilk" >
    <div class="container  "  style="margin-bottom:100px" >
        <div class="row" >
            <div class="col-sm-4" >
                <h6 style="border:1px solid gray;padding:10px;color: #6ead3a;font-weight: 700;
                text-align:center;margin-top: 40px;margin-bottom: 20px;" >Node + Express + MongoDB <span style="color:gray" >Api</span></h6>
            </div>
            <div class="col-sm-4" >
                    <h2 style="font-weight: bolder;text-align:center;margin-top: 40px;margin-bottom: 20px;font-family:cursive" >Notable</h2>
                </div>
            <div class="col-sm-4" >
                <p><h6 style="border:1px solid gray;padding:10px;color: #666666;font-weight: 700;
                    text-align:left;margin-top: 40px;margin-bottom: 20px;" >Afraz Khan | 
                    <a href="https://www.linkedin.com/in/mrafrazkhan" ><i style="padding-left:10px" class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/MrAfrazkhan" ><i style="padding-left:10px" class="fa fa-twitter"></i></a>
                    
                    <a href="https://www.facebook.com/Afrazkhan.me" ><i style="padding-left:10px" class="fa fa-facebook"></i></a>
                    
                    <a href="https://github.com/MrAfrazKhan/Notes" ><i style="padding-left:10px" class="fa fa-github"></i></a><sup>Code here</sup>
                    
                </h6>
            </p>
            </div>
        </div>
        
        <hr>
        <div class="row" >
            <div class="col-md-6" >
                <div class="form-group" >
                    <h5 style="font-weight:700" >Add note<span id="add_notf" style="padding-left: 30px;font-size: 15px" >
                        <i class="fa fa-check-square" style="color:green" ></i> ( note added )</span></h5>
                    
                    <div class="input-group-append">
                            <input id="add_text" type="text" class="form-control" placeholder="Enter note here" >
                        <!-- <span id="plus" class="input-group-text" style="font-weight: 900;cursor:pointer" > + </span> -->
                        <span id="plus" class="input-group-text" style="font-weight: 900;cursor:pointer">

                        <i class="fa fa-plus" ></i>
                        </span>
                    </div>
                    
                </div>
                <img style="object-fit:cover;width: 300px;height: 300px" src="/public/assets/book.png" alt="Smiley face" />
                <div id="success_alert" class="alert alert-success" style="margin-top:50px ;display: none" >
                    <strong>Success!</strong> Record is Updated successfully !
                  </div>
                  <div id="del_success_alert" class="alert alert-success" style="margin-top:50px ;display: none" >
                    <strong>Success!</strong> Record is deleted successfully !
                  </div>
                  <div id="danger_alert" class="alert alert-danger" style="margin-top:50px;display: none" >
                    <strong>Sorry!</strong> Something went wrong.
                  </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group" >
                        <h5 style="font-weight:700">Search a note</h5>
                        <div class="input-group-append">
                        <input id="search_txt" type="text" class="form-control" placeholder="Enter note here" >
                        <span id="search" class="input-group-text"   style="font-weight: 900;cursor:pointer" >
                        <i class="fa fa-search" ></i>
                        </span>
                        </div>
                        <span id="not_notf" style="font-weight:500" ><i class="fa fa-times" style="color:red" ></i> ( Not found )</span>
                </div>
                
                <div id="panel_head" >
                    <li style="color: wheat;font-weight:700;max-height: 400px;margin-top: 70px;" class="list-group-item active" >All Notes |
                        <span id="notecount" style="color:white" ><%=Notes.length%></span>
                        <span style="float:right" >MongoDB Cloud import</span> 
                            
                    </li>
                </div>
                <ul id="notelist" class="list-group" style="list-style-type:circle;;max-height: 300px;overflow: scroll;" >
                        <% var i = 1 %>
                        <% Notes.forEach(function(item){ %>
                                <li id='<%=item._id%>' class="list-group-item"> <span style="font-size:13px;font-weight: bold" ><%=i%>-</span> <input type="text" class="form-control" value='<%= item.note %>' />
                                    <a id="update_btn" style="cursor: pointer;float:right;color:green" >Update</a> <span style="float:right" >|</span>
                                     <a id="delete_btn" style="cursor: pointer;float:right;color: firebrick;margin-left: 30px"  >Delete</a></li>    
                        <% i = i +1 }); %>
                        
                    </ul>
            </div>
        </div>
    </div>
    </body>
</html>