

body{
    background-color: aqua;
}
#plus:hover{
    color: #a6a6a6 ;
}


#search:hover{
    color: #a6a6a6 ;
}

#not_notf,#add_notf{
    display: none;
}

@media screen and (max-width: 400px) {
    #import_text{
        float: left;

  }
  #panel_head div{
      height: 80px;
  }
}